:root { /* Default for light mode */
    --background-color: #f4f4f4;
    --text-color: black;
    --header-background-color: lightgray;
    --button-background-color: #3184b8;
    --email-link-color: #479fdc;
    --form-background-color: #fff;
    --form-box-shadow: rgba(25, 25, 25, 0.1);
    --input-border-color: #ccc;
    --input-background-color: white;
    --info-icon-background-color: #dbdbdb;
    --info-field-background-color: #f9f9f9;
    --info-field-border-color: #ccc;
    --btn-testbenachrichtigung-background-color: #868e8a;
    --btn-save-settings-background-color: #45a049;
    --btn-log-out-background-color: #b1b5b3;
    --btn-delete-acc-background-color: #ff642b;
    --btn-admin-panel-background-color: #ff7833;
    --slider-thumb-color: #4e4e4e;
    --calendar-icon-filter: invert(0);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.header {
    background-color: var(--header-background-color);
}

body.dark-mode {
    --background-color: rgb(35, 35, 35);
    --text-color: white;
    --header-background-color: darkgray;
    --button-background-color: #3b80b1;
    --email-link-color: #479fdc;
    --form-background-color: #333;
    --form-box-shadow: rgba(170, 170, 170, 0.1);
    --input-border-color: #555;
    --input-background-color: #444;
    --info-icon-background-color: #555;
    --info-field-background-color: #444;
    --info-field-border-color: #555;
    --btn-testbenachrichtigung-background-color: #606060;
    --btn-save-settings-background-color: #357a38;
    --btn-log-out-background-color: #444;
    --btn-delete-acc-background-color: #a22b1a;
    --btn-admin-panel-background-color: #ff7833;
    --slider-thumb-color: #dadada;
    --calendar-icon-filter: invert(1);
}

.parent {
    display: block;
    text-align: center;
    max-width: 350px;
    z-index: 1;
    position: relative;
}

.parent-index {
    margin-top: 150px;
}


form {
    background-color: var(--form-background-color);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--form-box-shadow);
    max-width: 85%;
    z-index: 5;
}

label {
    display: flex;
    margin-bottom: 10px;
}

.label-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.label-container input {
    flex: 1;
    padding-right: 10px; /* Platz für das Icon */
    box-sizing: border-box; /* Stellt sicher, dass die Padding nicht die Breite beeinflusst */
}



input[type="text"],
input[type="password"] {
    width: 92.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--text-color);
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    filter: brightness(110%);
}


/* Styles for the checkboxes */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    background-color: var(--input-background-color);
}

input[type="checkbox"]:checked::before {
    content: '✔';
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 18px;
    color: var(--text-color);
}

/* Styles for the checkbox labels */
input[type="checkbox"] + label {
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
    display: block; /* Ensures checkboxes are vertically aligned */
    margin-bottom: 10px; /* Adds space between checkboxes */
}







input[type="range"] {
    -webkit-appearance: none; /* Entfernt das Standard-Styling in Safari */
    width: 100%;
    background: transparent; /* Entfernt den Hintergrund */
    border: none; /* Entfernt die Umrandung */
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--info-icon-background-color); /* Farbe des Tracks */
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--slider-thumb-color); /* Farbe des Thumbs */
    cursor: pointer;
    margin-top: -5px; /* Zentriert den Thumb */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--info-icon-background-color); /* Farbe des Tracks */
    border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--text-color); /* Farbe des Thumbs */
    cursor: pointer;
    margin-top: -5px; /* Zentriert den Thumb */
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent; /* Entfernt den Hintergrund */
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: var(--info-icon-background-color); /* Farbe des Tracks */
    border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
    background: var(--info-icon-background-color); /* Farbe des Tracks */
    border-radius: 5px;
}








input[type="range"]::-ms-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--text-color); /* Farbe des Thumbs */
    cursor: pointer;
    margin-top: -5px; /* Zentriert den Thumb */
}



input[type="range"]:focus {
    outline: none; /* Entfernt den Fokus-Ring */
}

.label-container input[type="range"] {
    flex: 1;
    margin-right: 10px; /* Platz für die Zahl */
    -webkit-appearance: none; /* Entfernt das Standard-Styling in Safari */
    background: transparent; /* Entfernt den Hintergrund */
    border: none; /* Entfernt die Umrandung */
}

.label-container output {
    min-width: 10px; /* Stellt sicher, dass genug Platz für zweistellige Zahlen ist */
    text-align: center;
}


.failed {
    color: red;
    text-align: center;
}

.successful {
    color: green;
    text-align: center;
}

.btn {
    border: none;
    background-color: var(--button-background-color);
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    filter: brightness(120%);
}

.btn-testbenachrichtigung {
    background-color: var(--btn-testbenachrichtigung-background-color);
    width: 100%;
}

.btn-save-settings {
    background-color: var(--btn-save-settings-background-color);
    width: 100%;
}

.btn-log-out {
    background-color: var(--btn-log-out-background-color);
    width: 48.58%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-delete-acc {
    background-color: var(--btn-delete-acc-background-color);
    width: 48.58%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.admin-panel-btn {
    color: var(--text-color);
    background-color: var(--btn-admin-panel-background-color);
    width: 100%;
}


.info-field {
    display: none;
    background-color: var(--info-field-background-color);
    border: 1px solid var(--info-field-border-color);

    font-size: 0.8em;
    width: 97.5%;
    padding: 3px;
    -webkit-padding-before: 3px;
    -webkit-padding-after: 3px;

    margin: 0;
    border-radius: 5px;
}

.info-field p {
    margin: 4px;
}

.info-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--info-icon-background-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1px;
    margin-left: 10px;
    margin-bottom: 11px;
    padding-top: 6px;
}

.info-icon:hover {
    filter: brightness(105%);
}

.info-icon-slider {
    margin-top: 8px;
}


.img-div {
    position: fixed;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 100;
}

.notification-img {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 376px;
    height: auto;
    z-index: 100;
}

.notification-text {
    position: fixed;
    top: 70px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 300px;
    text-align: center;
    z-index: 1;
    color: var(--text-color);
}







.dark-mode-switch-btn {
    background: none;
    border: none;

    position: absolute;
    top: 25px;
    right: 3%;
    cursor: pointer;
    z-index: 100;
}

.dark-mode-switch-btn-potential-small {
    right: 0.5%;
}

.dark-mode-switch-icon {
    width: 40px;
    height: 40px;
}

.dark-mode-switch-icon-white {
    filter: invert(1);
}






@media (max-width: 600px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .parent {
        width: 90%;
    }

    .parent-index {
        margin-top: 35px;
    }


    .dark-mode-switch-btn-potential-small {
        right: 3%;
    }
}

.info-text {
    font-size: 0.7em;
    color: rgb(100, 100, 100);
    margin-left: auto;
    margin-right: auto;
}









.navigate-back-btn {
    background: none;
    border: none;

    position: absolute;
    top: 25px;
    left: 0.5%;
    cursor: pointer;
    z-index: 100;

    width: 40px;
    height: 40px;
}


.navigate-back-icon {
    width: 40px;
    height: 40px;
}

.navigate-back-icon-white {
    filter: invert(1);
}





.dark-mode-switch-icon:hover {
    filter: invert(0.25);
}

.dark-mode-switch-icon-white:hover {
    filter: invert(0.75);
}



.email {
    color: var(--email-link-color);
    text-decoration: none;
}


.password-toggle {
    position: absolute;
    right: 44px;
    top: 10px;
    cursor: pointer;
    color: var(--text-color);
}


.custom-message-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
}

.custom-message-select:focus {
    outline: none;
    border-color: var(--button-background-color);
}

.custom-message-select option {
    background-color: var(--input-background-color);
    color: var(--text-color);
}



.message-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 1em;
    resize: vertical;
}

.message-textarea:focus {
    outline: none;
    border-color: var(--button-background-color);
}

.for-date-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
    position: relative;
}

.for-date-input::-webkit-calendar-picker-indicator {
    filter: var(--calendar-icon-filter);
    cursor: pointer;
}

.for-date-input::-webkit-inner-spin-button,
.for-date-input::-webkit-clear-button {
    display: none;
}

.for-date-input:focus {
    outline: none;
    border-color: var(--button-background-color);
}










.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusts spacing between items */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;
    border-radius: 5px;

}

.checkbox {
    flex: 0 0 0; /* Adjust the width to fit two items per row */
    margin: 0.5rem 0.5rem 0;
    min-width: calc(50% - 1rem); /* Adjust the width to fit two items per row */
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    display: none;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the tile takes full width of the parent */
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid var(--input-border-color);
    background-color: var(--input-background-color);
    box-shadow: 0 5px 10px var(--form-box-shadow);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--input-border-color);
    background-color: var(--input-background-color);
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.checkbox-input:checked + .checkbox-tile {
    border-color: var(--btn-save-settings-background-color);
    box-shadow: 0 5px 10px var(--form-box-shadow);
    color: var(--btn-save-settings-background-color);
}

.checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--btn-save-settings-background-color);
    border-color: var(--btn-save-settings-background-color);

    content: '✔';
    color: white; /* Adjust the color as needed */
    font-size: 1rem; /* Adjust the size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-icon {
    transition: 0.375s ease;
    color: var(--text-color);
}


.checkbox-input:focus + .checkbox-tile {
    border-color: var(--btn-save-settings-background-color);
    box-shadow: 0 5px 10px var(--form-box-shadow), 0 0 0 4px var(--input-border-color);
}
.checkbox-label {
    color: var(--text-color);
    transition: 0.375s ease;
    text-align: center;
}