:root {
    --background-color: #f4f4f4;
    --text-color: black;
    --header-background-color: lightgray;
    --button-background-color: #80c3f1;
    --form-background-color: #fff;
    --form-box-shadow: rgba(25, 25, 25, 0.1);
    --input-border-color: #ccc;
    --input-background-color: white;
    --info-icon-background-color: #dbdbdb;
    --info-field-background-color: #f9f9f9;
    --info-field-border-color: #ccc;
    --btn-testbenachrichtigung-background-color: #868e8a;
    --btn-save-settings-background-color: #45a049;
    --btn-log-out-background-color: #b1b5b3;
    --btn-delete-acc-background-color: #ff642b;
    --notification-text-color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.05em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: var(--header-background-color);
}

body.dark-mode {
    --background-color: rgb(35, 35, 35);
    --text-color: white;
    --header-background-color: darkgray;
    --button-background-color: #1f5880;
    --form-background-color: #333;
    --form-box-shadow: rgba(170, 170, 170, 0.1);
    --input-border-color: #555;
    --input-background-color: #444;
    --info-icon-background-color: #555;
    --info-field-background-color: #444;
    --info-field-border-color: #555;
    --btn-testbenachrichtigung-background-color: #606060;
    --btn-save-settings-background-color: #357a38;
    --btn-log-out-background-color: #444;
    --btn-delete-acc-background-color: #a22b1a;
    --notification-text-color: white;
}

.parent {
    display: block;
    text-align: center;
    max-width: 350px;
    z-index: 1;
    position: relative;
}

form {
    background-color: var(--form-background-color);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--form-box-shadow);
    max-width: 85%;
    margin-bottom: 10px;
    margin-top: 25px;
    z-index: 5;
}

label {
    display: flex;
    margin-bottom: 10px;
}

.label-container {
    display: flex;
    align-items: center;
}

.label-container input {
    flex: 1;
}

input[type="text"],
input[type="password"] {
    width: 92.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--text-color);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

.failed {
    color: red;
    text-align: center;
}

.successful {
    color: green;
    text-align: center;
}

.btn {
    border: none;
    background-color: var(--button-background-color);
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-testbenachrichtigung {
    background-color: var(--btn-testbenachrichtigung-background-color);
    width: 100%;
}

.btn-save-settings {
    background-color: var(--btn-save-settings-background-color);
    width: 100%;
}

.btn-log-out {
    background-color: var(--btn-log-out-background-color);
    width: 48.58%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-delete-acc {
    background-color: var(--btn-delete-acc-background-color);
    width: 48.58%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.info-field {
    display: none;
    background-color: var(--info-field-background-color);
    border: 1px solid var(--info-field-border-color);

    font-size: 0.8em;
    width: 92.5%;
    padding: 10px 10px 3px 3px;
    -webkit-padding-before: 10px;
    -webkit-padding-after: 10px;

    margin-top: 5px;
    border-radius: 5px;
}

.info-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--info-icon-background-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 11px;
    padding-top: 6px;
}

.img-div {
    position: fixed;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 100;
}

.notification-img {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 376px;
    height: auto;
    z-index: 100;
}

.notification-text {
    position: fixed;
    top: 70px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 300px;
    text-align: center;
    z-index: 1;
    color: var(--notification-text-color);
}


@media (max-width: 600px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .parent {
        width: 90%;
    }
}

.info-text {
    font-size: 0.7em;
    color: rgb(100,100,100);
}


.dark-mode-switch-btn {
    background: none;
    border: none;

    position: relative;
    top: 75px;
    left: -42.7%;
    cursor: pointer;
}


.dark-mode-switch-icon {
    width: 40px;
    height: 40px;
}

.dark-mode-switch-icon-white {
    filter: invert(1);
}